<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Articles:</strong>
</p>

<% @category.articles.each do |article| %>
    <p>
    <%= link_to article.title, article_path(article) %>
    </p>
<% end %>
